{% extends 'variant_app/base.html' %}

{% block content %}
<div class="container tile">

  <h2 class="subtitle sans_font">Login to your Variant account</h2>

  <form class="form sans_font" method="post" action="{% url 'auth_login' %}">
    {% csrf_token %}

    {% if form.errors %}
    <p class="error">We couldn&rsquo;t log you in. Please check your username and password and try again. </p>
    {% endif %}

    <table>
      <tr>
	<td style="padding-bottom: 20px;">{{ form.username.label_tag }}</td>
	<td style="padding-bottom: 20px;">{{ form.username }}</td>
      </tr>
      <tr>
	<td style="padding-bottom: 20px;">{{ form.password.label_tag }}</td>
	<td style="padding-bottom: 20px;">{{ form.password }}</td>
      </tr>
    </table>

    <div style="display:inline-block;"><div class="underline">
	<input class="sans_font" type="submit" value="Login" />
    </div></div>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div class="top_elem sans_font">
    <a style="font-size: 20px;"
       href="{% url 'auth_password_reset' %}">Lost password?</a>
  </div>

</div>
{% endblock %}
