{% extends 'variant_app/base.html' %}

{% block content %}
<div class="container tile">

  <h3 class="subtitle sans_font">Password reset sent</h3>

  <div class="sans_font">
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    </p>

    <p>
      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
  </div>

</div>
{% endblock %}
