<!DOCTYPE html> 
<html>
  <body>
    <h1 style="font-family: 'Baskerville Old Face', Baskerville, serif;
	       font-size: 50px;
	       margin-top: 0px;
	       margin-bottom: 10px;">
      Variant
    </h1>

    <p style="font-family: 'Source Sans Pro', Arial, sans-serif;">
      Someone asked for a password reset for the Variant account under {{ email }}. Follow the link below:
      {{ protocol}}://{{ domain }}{% url 'password_reset_done' uidb64=uid token=token %}
    </p>

    <p>
      If you didn't do this, please ignore this message.
    </p>

    <p>
      Thanks,
    </p>
    <p>
      Variant
    </p>

  </body>
</html>

