{% extends 'variant_app/base.html' %}

{% block content %}

<h3>Change your password</h3>

{% if form %}
{% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}


<form method="post" action=".">
  {% csrf_token %}

  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <div class="fieldWrapper">
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}

  <input type="submit" value="Reset" />
</form>

<a href="{% url 'auth_login' %}">Login</a>
{% endif %}

{% endblock %}
