.title_font {
    font-family: "Baskerville Old Face", Baskerville, "Cormorant Garamond", serif;
    font-weight: normal;
}

.sans_font {
    font-family: "Source Sans Pro", "Gill Sans MT", "Gill Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.text_font {
    font-family: "Merriweather", "Georgia", "Lora", serif;
    font-weight: 300;
}

.title {
    font-size: 50px;
    margin: 40px 0 20px 0;
}

.help {
    font-size: 13px;
}

.error {
    font-size: 18px;
    color: #c80707;
}

.warning {
    font-size: 15px;
    color: #c80707;
}

.nav {
    border: none;
    list-style:none;
    padding: 0px;
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.nav li  {
    display:inline-block;
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.nav a:hover:after {
    width: 100%;
    background: black;
}

.navp {
    padding: 10px 0px 10px 0px; /* top right bottom left */
}


.header {
    margin: auto;
    width: 50%;
    min-width: 700px;
}

.container {
    margin: auto;
    width: 50%;
    min-width: 800px;
    border-width: 2px;
    border-color: black;

    padding: 60px;
    border: 1px solid #aaa;
    border-radius: 50px;
/*    border-right: 1px solid #aaa;*/
    overflow: auto;
}

.coll_text_container {
    margin: auto;
    width: 55%;
    min-width: 1000px;
    border-width: 2px;
    border-color: black;
    padding: 60px;
    border: 1px solid #aaa;
    border-radius: 50px;
/*    border-right: 1px solid #aaa;*/
    overflow: auto;
}


.subheader {
    font-size: 45px;
    text-align: center;
    padding: 0;
    color: #222;
    display: table;
    margin: auto;
    margin-bottom: 40px;
}

.subsubheader {
    font-size: 25px;
    color: #111;
    padding: 10px 300px 10px 20px;
    display: inline-block;
}

.username {
    margin: 0px 0px 20px 20px;
    font-size: 30px;
}

.elem_list {
    padding: 0;
    margin: 0;
}
.top_elem {
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.top_elem a {
    font-size: 25px;
    text-decoration: none;
    color: #222;
    display: inline-block;
    margin-right: 30px;
}

.top_elem a:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.top_elem a:hover:after {
    width: 100%;
    background: #222;
}

.top_elem input {

}

.elem {
    font-size: 30px;
    list-style-type: none;
    border-radius: 4px;
    border: #ccc 1px solid;

    display: inline-block;
    margin: 12px;
    padding: 0;
}

.elem a {
    text-decoration: none;
    color: #111;
    padding: 20px 25px 20px 25px;
    display: block;
}

.elem:hover {
    background-color: #eee;
}

.coll_color {
    background-color: #005b7b;
    border: none;
}

.coll_color:hover {
    background-color: #3694b6;

}
.variant_color {
    background-color: #dff0ff;
}

.variant_color:hover {
    background-color: #73c2de;
}

.text_title {
/*    padding-left: 20px;*/
    font-size: 40px;
    color: #111;
    font-weight: 600;
}

.text {
    width: 55%;
    padding-left: 20px;
    white-space: pre-wrap;
    float: left;
    font-size: 18px;
    color: #444;
}

.base_text {
    white-space: pre-wrap;
    display: inline-table;
}

.annotate {
    width: 40%;
    float: left;
    padding-left: 20px;
}

.annotate_block, .coll_vars_block {
    padding: 20px;
    border-left: #222 3px solid;
}

.annotate_row:hover {
}

.annotate_name {
    text-align: right;
    padding: 5px 15px 5px 5px;
    font-size: 18px;
}

.annotate_text {
    padding: 5px 5px 5px 5px;
}

.annotate_text:hover{
    outline: #aaa 1px solid;
    cursor: default;
}

.coll_vars_title {
    text-align: right;
    font-size: 18px;
    padding-bottom: 15px;
    color: #444;
}

.coll_vars a {
    font-size: 25px;
    text-decoration: none;
    color: #111;
    display: inline-block;
}

.coll_vars a:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.coll_vars a:hover:after {
    width: 100%;
    background: black;
}

.top_elem button {
    border: none;
    background-color: #fff;
    font-size: 20px;
    color: #222;
}

.top_elem button:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.top_elem button:hover {
    cursor: pointer;
}

.top_elem button:hover:after {
    width: 100%;
    background: black;
}

label {
    font-size: 20px;
    color: #444;
}

.form {
    padding-left: 20px;
    margin-bottom: 30px;
}

.form input {
    border-width: 0px 0px 1px 0px;
    border-color: #444;
    margin-left: 20px;
    width: 250px;
    font-size: 18px;
}

.form input[type=submit] {
    border: none;
    width: auto;
    background: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: black;
}

.form input[type=submit] {
    cursor: pointer;
}

.form textarea {
    width: 100%;
    border: #aaa 1px solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}

.underline:after {
    content: '';
    display: inline-block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
}

.underline:hover:after {
    width: 100%;
    background: black;
    cursor: pointer;
}

.wrapper {
    width: 70%;
}

/**
* Dropdown menu
*/

.dropbtn {
    background:none;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}