.title_font {
    font-family: "Baskerville Old Face", Baskerville, "Cormorant Garamond", serif;
    font-weight: normal;
}

.sans_font, input {
    font-family: "Source Sans Pro", "Gill Sans MT", "Gill Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.text_font {
    font-family: "Merriweather", "Georgia", "Lora", serif;
    font-weight: 300;
}

body {
    background-color: #e9ebee;
    display: block;
    margin: 0px;
}

a {
   outline: 0;
}

.title {
    font-size: 50px;
    margin: 40px 0 20px 0;
}

.title a {
    color: black;
    text-decoration: none;
}

.help {
    font-size: 13px;
    margin: 2px 0px 10px 0px;
    color: #666;
}

.error {
    font-size: 18px;
    color: #c80707;
}

.warning {
    font-size: 15px;
    color: #c80707;
}

.nav, .index_nav {
    border: none;
    list-style:none;
    padding: 0px;
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.nav li, .index_nav li  {
    display:inline-block;
    margin-right: 30px;
}

.nav a, .index_nav a {
    text-decoration: none;
    color: black;
}

.nav a:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.nav a:hover:after {
    width: 100%;
    background: black;
}

.navp {
    padding: 10px 0px 10px 0px; /* top right bottom left */
}

.header {
    margin: auto;
    max-width: 60%;
}

.tile {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
}

.container {
    margin: auto;
    border-width: 2px;
    border-color: black;
    padding: 50px 60px 50px 60px;
    overflow: auto;
}

.coll_text_container {
    margin: auto;
    padding: 50px 60px 50px 60px;
    overflow: auto;
}

.subheader {
    font-size: 45px;
    text-align: center;
    padding: 0;
    color: #222;
    display: table;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.subsubheader {
    font-size: 25px;
    color: #111;
    padding: 10px 300px 10px 20px;
    display: inline-block;
}

.username {
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    color: #607d8b;
}

.subsection {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size: 30px;
    color: #607d8b;
}

.subtitle {
    margin: 0px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #607d8b;
}

.section_head {
    margin: 0px;
    padding: 10px 0px 10px 18px;
    font-size: 25px;
    color: #607d8b;
    background-color: #fbfdff;
}

.elem_list {
    padding: 0;
    margin: 0;
}

.top_elem {
    padding: 10px 0px 10px 0px;
    display: inline-block;
    font-size: 18px;
}

.top_elem label {
    font-size: 18px;
    color: #222;
}

.top_elem a {
    font-size: 18px;
    text-decoration: none;
    color: #222;
    display: inline-block;
    margin-right: 30px;
}

.top_elem a:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.top_elem a:hover:after {
    width: 100%;
    background: #222;
}

.top_elem input {

}

.top_elem button {
    border: none;
    background-color: #fff;
    font-size: 18px;
    color: #222;
}

.top_elem button:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.top_elem button:hover {
    cursor: pointer;
}

.top_elem button:hover:after {
    width: 100%;
    background: black;
}

.elem {
    font-size: 30px;
    list-style-type: none;
    border-radius: 4px;
    border: #ccc 1px solid;

    display: inline-block;
    margin: 0px 12px 20px 0px;
    padding: 0;
}

.elem a {
    text-decoration: none;
    color: #111;
    padding: 20px 25px 20px 25px;
    display: block;
}

.elem:hover {
    background-color: #eee;
}

.hide_token {
    color: #ddd;
}

.coll_color {
    background-color: #005b7b;
    border: none;
}

.coll_color:hover {
    background-color: #3694b6;

}

.variant_color {
    background-color: #f2f9ff;
    border: none;
}

.variant_color:hover {
    background-color: #dff0ff;
}

.text_title {
    font-size: 40px;
    color: #222;
}

.text {
    width: 55%;
    white-space: pre-wrap;
    float: left;
    font-size: 16px;
    color: #404040;
}

.doc_text {
    font-size: 16px;
    color: #404040;
}

.doc_text li {
    margin: 10px 0;
}

.doc_inline {
    font-size: 20px;
    padding: 0px 3px 0px 1px;
}

.base_text {
    white-space: pre-wrap;
    display: inline-table;
}

.annotate {
    width: 40%;
    float: left;
    padding-left: 4%;
}

.annotate_block, .coll_vars_block {
    padding: 20px;
    border-left: #222 3px solid;
}

.annotate_row:hover {
}

.annotate_name {
    text-align: right;
    padding: 5px 15px 5px 5px;
    font-size: 18px;
}

.annotate_text {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
}

.annotate_text:hover{
    outline: #aaa 1px solid;
    cursor: default;
}

.coll_vars_title {
    text-align: right;
    font-size: 18px;
    padding-bottom: 15px;
    color: #444;
}

.coll_vars a {
    font-size: 25px;
    text-decoration: none;
    color: #111;
    display: inline-block;
}

.coll_vars a:after {
    content: '';
    display: block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease
}

.coll_vars a:hover:after {
    width: 100%;
    background: black;
}

label {
    font-size: 20px;
    color: #444;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form {
    margin-bottom: 30px;
}

.form input {
    border-width: 0px 0px 1px 0px;
    border-color: #444;
    margin-left: 20px;
    font-size: 18px;
}

.form input[type=text] {
    width: 250px;
}

.form input[type=submit] {
    width: auto;
    background: none;
    text-align: left;
    margin: 0px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border: #bbb 1px solid;
    border-radius: 2px;
}

.form input[type=submit]:hover {
    box-shadow: 0 2px 5px #bbb;
    transition: box-shadow 0.1s ease-in-out;
}

.form textarea {
    width: 90%;
    border: #ccc 1px solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.underline:after {
    content: '';
    display: inline-block;
    margin-top: 4px;
    height: 1px;
    width : 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
}

.underline:hover:after {
    width: 100%;
    background: black;
    cursor: pointer;
}

.wrapper {
    width: 70%;
}

/**
* Dropdown menu
*/

.dropbtn {
    background:none;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

/**
 * Explore
**/

.corpus_tiles {
    padding: 0px;
    margin: 20px 0px 20px 0px;
}

.corpus_tile {
    display: inline-block;
    margin: 0px 1% 1.5% 0px;
    width: 23.5%;
}

.tile_wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.corpus_tile a {
    text-decoration: none;
    color: black;
    margin: 0px;
}

.corpus_tile:hover {
    box-shadow: 0 5px 10px #bbb;
    transition: box-shadow 0.1s ease-in-out;
}

.corpus_tile p {
    margin: 0px;
}

.tile_title {
    font-size: 25px;
    padding: 0px 25px 0px 25px;
    color: #333;
}

.tile_author {
    font-size: 18px;
    padding: 0px 25px 40px 25px;
}

.tile_user {
    font-size: 15px;
    padding: 40px 25px 5px 25px;
}

#fav:hover {
    cursor: pointer;
}

#search_icon {
    display: inline;
    margin-right: 10px;
}

.search_bar {
    margin-bottom: 30px;
    padding: 8px 0px 10px 18px;
    font-size: 25px;
    color: #607d8b;
}

.search_bar input {
    width: 90%;
    font-size: 20px;
    border: none;
}

.search_entry {
    margin: 15px 0px 15px 0px;
    padding: 10px 0px 10px 25px;
    font-size: 25px;

}

.search_entry a {
    text-decoration: none;
    color: black;
}

/*
* Basic loader.
*/

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #999; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}