{% extends 'variant_app/base.html' %}

{% block content %}

<h3>Add a new text to {{corpus.corpus_name}}</h3>

{% if error_messages %}
<ul>
{% for msg in error_messages %}
<li><strong>{{ msg }}</strong></li>
{% endfor %}
</ul>
{% endif %}

<form action="{% url 'variant_app:create_text' corpus.id %}" method="post">
{% csrf_token %}
<label>Text name</label><br />
<input type="text" name="text_name" value="" /><br />
<label>Content</label><br />
<textarea rows="30" name="content" cols="60" placeholder="Add text here"></textarea><br />
<input type="submit" value="Submit" />
</form>

{% endblock %}
