{% extends 'variant_app/base.html' %}
{% block content %}
{% load static %}
<div class="coll_text_container tile" id="contain">

  <style>
    span[id^="seq"] {
        line-height: 1.6;
        cursor: default;
    }
  </style>

  <script src="{% static 'variant_app/coll_text.js' %}"></script>
  <script src="{% static 'variant_app/ajax.js' %}"></script>
  <script src="{% static 'variant_app/js.cookie.js' %}"></script>
  <script>
    coll_text_visualization("{% url 'variant_app:coll_text_content' corpus.id %}",
    "{% url 'variant_app:coll_text_tokens' corpus.id 0 0 0 %}",
    "{% url 'variant_app:post_word' corpus.id %}",
    "{% url 'variant_app:corpus_favorite' corpus.id %}",
    "{{ text.corpus.id }}");
  </script>


  {% if user == corpus.user %}
  <div class="top_elem sans_font">
    <a href="{% url 'variant_app:corpus' corpus.id %}">Back to text home</a>
  </div>
  {% elif user.is_authenticated %}
  <div style="margin-right: 40px; display: inline;">
    {% if is_fav %}
    <div id="fav" class="top_elem sans_font" style="color: #d5a01b;">&#9733; Favorited</div>
    {% else %}
    <div id="fav" class="top_elem sans_font">&#9733; Add to favorites</div>
    {% endif %}
  </div>
  {% endif %}

  <div class="top_elem sans_font">
    <input type="checkbox" id="cb" name="cb" checked="checked" />
    <label for="cb">Highlight variable words</label>
  </div>

  <div>
    <div id="text" class="text text_font"><h2 class="text_title title_font"
					      style="padding-left: 0px;">{{ corpus.corpus_name }}</h2></div>
    <div id="annotation" class="annotate">
      {% if texts %}
      <table class="coll_vars_block">
	<tr>
	  <td class="coll_vars_title sans_font">Variants for &ldquo;{{ corpus.corpus_name }}&rdquo;</td>
	</tr>
	{% for text in texts %}
	{% if not text.is_base %}
	<tr>
	  <td class="coll_vars text_font">
	     <a href="{% url 'variant_app:text' text.id %}">{{ text.text_name }}</a>
	  </td>
	</tr>
	{% endif %}
	{% endfor %}
      </table>
      {% endif %}
    </div>
    <div></div>

  </div>


</div>
{% endblock %}
