{% extends 'variant_app/base.html' %}

{% block content %}

<div class="tile sans_font search_bar section_head">
  <form action="{% url 'variant_app:search_results' %}" method="post">
    {% csrf_token %}
    <div id="search_icon">&#8981;</div>
    <input type="text" name="query"
	   placeholder="Search for texts, users, or first lines..." />
  </form>
  <div id="search_drop" class="drop-down-content"></div>
</div>

{% if favorites %}
<h2 class="tile section_head sans_font">Most favorited</h2>

  <ul class="corpus_tiles">
    {% for corpus in favorites %}
    <li class="tile corpus_tile">
      <a href="{% url 'variant_app:coll_text' corpus.id %}">
	<div class="tile_wrap tile_user sans_font">
	  Collated by {{ corpus.user.username }}
	  <span style="padding-left: 4px; color: #555;">| &#9733; {{ corpus.n_favorites }}</span>
	</div>
	<div class="tile_wrap tile_title title_font">{{ corpus.corpus_name }}</div>
	{% if corpus.author %}
	<div class="tile_wrap tile_author sans_font">by {{ corpus.author }}</div>
	{% else %}
	<div class="tile_wrap tile_author sans_font" style="white-space:pre-wrap;"> </div>
	{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% if recents %}
<h2 class="tile section_head sans_font">Recently added</h2>
  <ul class="corpus_tiles">
    {% for corpus in recents %}
    <li class="tile corpus_tile">
      <a href="{% url 'variant_app:coll_text' corpus.id %}">
	<div class="tile_wrap tile_user sans_font">
	  Collated by {{ corpus.user.username }}
	  <span style="padding-left: 4px; color: #555;">| &#9733; {{ corpus.n_favorites }}</span>
	</div>
	<div class="tile_wrap tile_title title_font">{{ corpus.corpus_name }}</div>
	{% if corpus.author %}
	<div class="tile_wrap tile_author sans_font">by {{ corpus.author }}</div>
	{% else %}
	<div class="tile_wrap tile_author sans_font" style="white-space:pre-wrap;"> </div>
	{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
