{% extends 'variant_app/base.html' %}
{% block content %}
{% load static %}

<style>
span[class^="seq"] {
    line-height: 25px;
    cursor: default;
}

</style>

<script src="{% static 'variant_app/text.js' %}"></script>
<script>
  text_visualization("{% url 'variant_app:text_content' text.id %}",
                     "{% url 'variant_app:text_content' base_text.id %}",
                     "{{ text.corpus.id }}");
</script>

{% if user.is_anonymous %}
{% include "registration/unregistered_warning.html" %}
{% endif %}

<button type="button" onclick="load_base();">Compare with base text</button> 

<div id="wrapper" 
     style="margin: auto; width: 40%; font-family: 'Lora', serif; font-size: 17px; color: #333; ">
<div id="text" style="white-space: pre-wrap;"></div>

<div id="base_text" style="white-space: pre-wrap;"></div>
</div>


{% endblock %}
