{% extends 'variant_app/base.html' %}

{% block content %}
<div class="container">

  {% if user.is_anonymous %}
  {% include "registration/unregistered_warning.html" %}
  {% else %}
  <p class="username sans_font">Welcome {{ user.username }}</p>
  {% endif %}

  <p class="subsection sans_font">My texts</p>
  <div class="top_elem sans_font">
    <a class="sans_font" href="{% url 'variant_app:add_corpus' %}">+ Add a new text</a>
  </div>

  <!--div class="subsubheader sans_font">Your texts</div-->

  {% if corpuses %}
  <ul class="elem_list title_font">
    {% for corpus in corpuses %}
    <li class="elem">
      <a href="{% url 'variant_app:corpus' corpus.id %}">{{ corpus.corpus_name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</div>
{% endblock %}
